In [2]:
import pandas as pd

pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [3]:
url = "https://storage.googleapis.com/python-public-policy2/data/311_requests_2018-19_sample_clean.csv.zip"
requests = pd.read_csv(url)

/var/folders/rs/ygchttmd1g589n7s5m9c59c80000gn/T/ipykernel_21824/610958175.py:2: DtypeWarning: Columns (8,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  requests = pd.read_csv(url)

In [4]:
requests["Community Board"].unique()

array(['15 BROOKLYN', '03 BROOKLYN', '14 QUEENS', '10 BRONX', '08 QUEENS',
       '02 BRONX', '01 QUEENS', '11 QUEENS', '02 MANHATTAN',
       '18 BROOKLYN', '12 QUEENS', '01 STATEN ISLAND', '12 BRONX',
       '05 BROOKLYN', '01 BRONX', '09 QUEENS', '04 BROOKLYN',
       '10 BROOKLYN', '02 STATEN ISLAND', '05 QUEENS', '04 MANHATTAN',
       '11 BRONX', 'Unspecified BROOKLYN', '09 BRONX', '12 MANHATTAN',
       '09 BROOKLYN', '14 BROOKLYN', '06 MANHATTAN', '10 MANHATTAN',
       'Unspecified QUEENS', '01 MANHATTAN', '03 MANHATTAN', '05 BRONX',
       '08 BROOKLYN', '02 QUEENS', '12 BROOKLYN', '01 BROOKLYN',
       '16 BROOKLYN', '13 BROOKLYN', '06 QUEENS', '07 MANHATTAN',
       '11 BROOKLYN', 'Unspecified BRONX', '08 MANHATTAN',
       '03 STATEN ISLAND', '06 BROOKLYN', '03 BRONX', '05 MANHATTAN',
       '07 QUEENS', '13 QUEENS', '17 BROOKLYN', '06 BRONX', '02 BROOKLYN',
       '10 QUEENS', 'Unspecified MANHATTAN', '03 QUEENS', '04 BRONX',
       '11 MANHATTAN', '08 BRONX', '07 BROOKLYN', '07 BRONX',
       '0 Unspecified', '09 MANHATTAN', '04 QUEENS', '83 QUEENS',
       '80 QUEENS', 'Unspecified STATEN ISLAND', '55 BROOKLYN',
       '82 QUEENS', '64 MANHATTAN', '28 BRONX', '95 STATEN ISLAND',
       '81 QUEENS', '27 BRONX', '26 BRONX', '56 BROOKLYN', '84 QUEENS'],
      dtype=object)

In [5]:
cb_counts = requests.groupby("Community Board").size().reset_index(name="num_311_requests")
cb_counts = cb_counts.sort_values("num_311_requests", ascending=False)
cb_counts

              Community Board  num_311_requests
50               12 MANHATTAN             14110
23                  05 QUEENS             12487
51                  12 QUEENS             12228
2                 01 BROOKLYN             11863
12                03 BROOKLYN             11615
5            01 STATEN ISLAND             11438
31                  07 QUEENS             11210
21                05 BROOKLYN             10862
16                   04 BRONX             10628
4                   01 QUEENS             10410
58                17 BROOKLYN             10208
54                14 BROOKLYN             10179
28                   07 BRONX              9841
59                18 BROOKLYN              9717
39                  09 QUEENS              9599
53                  13 QUEENS              9459
48                   12 BRONX              9412
45                11 BROOKLYN              9309
20                   05 BRONX              9094
13               03 MANHATTAN              8905
35                  08 QUEENS              8661
17                04 BROOKLYN              8639
42               10 MANHATTAN              8592
15           03 STATEN ISLAND              8524
56                15 BROOKLYN              8508
43                  10 QUEENS              8333
49                12 BROOKLYN              8214
30               07 MANHATTAN              8141
36                   09 BRONX              8092
41                10 BROOKLYN              7808
33                08 BROOKLYN              7797
7                 02 BROOKLYN              7747
37                09 BROOKLYN              7571
25                06 BROOKLYN              7373
10           02 STATEN ISLAND              7059
0               0 Unspecified              6882
14                  03 QUEENS              6799
38               09 MANHATTAN              6792
73       Unspecified BROOKLYN              6771
18               04 MANHATTAN              6765
22               05 MANHATTAN              6599
34               08 MANHATTAN              6579
8                02 MANHATTAN              6514
44                   11 BRONX              6448
74      Unspecified MANHATTAN              6427
29                07 BROOKLYN              6364
9                   02 QUEENS              6142
19                  04 QUEENS              5824
32                   08 BRONX              5753
47                  11 QUEENS              5748
24                   06 BRONX              5746
40                   10 BRONX              5719
46               11 MANHATTAN              5714
72          Unspecified BRONX              5349
55                  14 QUEENS              5284
11                   03 BRONX              5262
26               06 MANHATTAN              5158
57                16 BROOKLYN              5100
1                    01 BRONX              4915
75         Unspecified QUEENS              4870
27                  06 QUEENS              4607
52                13 BROOKLYN              3840
3                01 MANHATTAN              3623
6                    02 BRONX              3470
76  Unspecified STATEN ISLAND               541
69                  83 QUEENS               193
65               64 MANHATTAN               126
66                  80 QUEENS               102
68                  82 QUEENS                72
67                  81 QUEENS                54
63                55 BROOKLYN                53
62                   28 BRONX                26
60                   26 BRONX                25
71           95 STATEN ISLAND                21
70                  84 QUEENS                18
61                   27 BRONX                17
64                56 BROOKLYN                13

In [6]:
population = pd.read_csv("https://data.cityofnewyork.us/api/views/xi7c-iiu2/rows.csv")
population.head()

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200

In [7]:
cb_counts.head()

   Community Board  num_311_requests
50    12 MANHATTAN             14110
23       05 QUEENS             12487
51       12 QUEENS             12228
2      01 BROOKLYN             11863
12     03 BROOKLYN             11615

In [8]:
def my_function(row):
    # do stuff
    return some_value

new_values = dataframe.apply(my_function, axis=1)

NameError: name 'dataframe' is not defined